.DS_Store
.git
*.mode1v3
*.pbxuser
*.orig
*.rej
*.perspectivev3
build
/build/
*.orig
xcuserdata
xcshareddata
*.xcuserstate
*.xcbkptlist
*.xcworkspacedata
*.xccheckout
.last-LocParse-update-check-date
.last-s7-update-check-date

hgrevision.h
scm-revision.h
Pods

.s7control
.s7bak

# RDAppKit is necessary when you want to run PDFKit screenshot tests
Dependencies/RDAppKit

Dependencies/RD2UIColorPalette/
Dependencies/RDBoxOnlineClient/
Dependencies/RDCurlBasedOnlineClient/
Dependencies/RDDatabase/
Dependencies/RDDropboxOnlineClient/
Dependencies/RDFTPOnlineClient/
Dependencies/RDGoogleDriveOnlineClient/
Dependencies/RDHandoff/
Dependencies/RDLoggingSystem/
Dependencies/RDMPEG/
Dependencies/RDOneDriveOnlineClient/
Dependencies/RDPDFKit/
Dependencies/RDRateThisApp/
Dependencies/RDReceiptParser/
Dependencies/RDSFTPOnlineClient/
Dependencies/RDSMBOnlineClient/
Dependencies/RDSOnlineClientFoundation/
Dependencies/RDSharePointOnlineClient/
Dependencies/RDUIKit/
Dependencies/RDUsage/
Dependencies/RDVFS/
Dependencies/RDWebDAVOnlineClient/
Dependencies/RDiCloud/
Dependencies/RSStorageSync/
Dependencies/ReaddleLib/
Dependencies/RDOnlineConverter/
Dependencies/RDUniversalCharDetector/
Dependencies/Thirdparty/AFNetworking/
Dependencies/Thirdparty/Amplitude-iOS/
Dependencies/Thirdparty/AppAuth-iOS/
Dependencies/Thirdparty/BoxContentSDK/
Dependencies/Thirdparty/CocoaHTTPServer/
Dependencies/Thirdparty/anchorfreevpn/
Dependencies/Thirdparty/libcurl/
Dependencies/Thirdparty/log4cocoa/
Dependencies/Thirdparty/msgraph-sdk/
Dependencies/Thirdparty/openssl/
Dependencies/Thirdparty/rdport_libxslt/
Dependencies/rd3fts/
Dependencies/rdarchiver/
Dependencies/rdcifs/
Dependencies/rdintegration/
Dependencies/rdkeychain/
Dependencies/rdmediatagseditor/
Dependencies/rdsubscriptionkit/
Dependencies/settings-sync/
Resources/MarketingAssets/
Dependencies/RDCrossPlatformUtils
